/* General */

div {
  font-family: sans-serif;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container {
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
}

.debugger {
  background: rgb(209, 199, 199);
  text-align: center;
}

.error-messages {
  color: red;
}

/* Main Template */

.main-nav {
  text-align: center;
}

.app-title {
  text-align: center;
  font-size: 48px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.views-container {
  position: relative;
  height: 100%;
}

.views {
  margin-top: 30px;
}

/* Display Boxes */

.display-box {
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 375px;
  box-sizing: border-box;
}

.box-header {
  background-color: gray;
  padding: 2px 2px 2px 5px;
  color: #fff;
}

.box-content {
  padding: 20px 20px 20px 20px;
  line-height: 24px;
}

/* New Meal */

.form-actions {
  text-align: center;
  margin-top: 20px;
}

.meal-details {
  width: 375px;
}

.results {
  width: 375px;
}

.operands {
  border-bottom: 1px solid black;
}

/* My earnings */

.my-earnings-info {
  position: relative;
}

.btn-reset {
  position: absolute;
  bottom: -30px;
  right: 10px;
}

/* View change animations */

.animate-view.ng-enter {
  transition: 1s linear all;
  position: absolute;
  top: 0;
}

.animate-view.ng-leave {
  transition: .2s linear all;
  position: absolute;
  top: 0;
}

.animate-view.ng-enter {
  opacity: 0;
  left: 175px;
}

.animate-view.ng-enter-active {
  opacity: 1;
  left: 212px;
}

.animate-view.ng-leave {
  opacity: 1;
  left: 212px;
}

.animate-view.ng-leave-active {
  opacity: 0;
}
